h2 {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin: 100px 0;
}

.item {
  display: flex;
  justify-content: space-around;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  color: #23bac1;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 70px;
  border: 1px solid #23bac1;
  background: #fff;
  margin-top: 20px;
}